PORT=5001
RPC_URL=http://127.0.0.1:8545
MONGO_URI=mongodb://127.0.0.1:27017/web3-twitter
CONTRACT_ADDRESS=0xYourContractAddress
CONTRACT_DEPLOYMENT_ID=localhost-31337-0000000000000
BLOCKCHAIN_SYNC_INTERVAL_MS=2500
